<div id="modal_info" class="modal fade transaction-detailModal parent-select2" tabindex="-1" role="dialog" aria-labelledby="transaction-detailModalLabel" aria-hidden="true"></div>

<!-- Footer start -->
<footer class="landing-footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <img src="assets/images/logo-light.png" alt="" height="20">
                </div>

                <p class="mb-2 font-size-15"><script>document.write(new Date().getFullYear())</script> © Paquetería Cheems</p>
                <p>Envíos nacionales internacionales. Tu mejor opción en envíos.</p>
            </div>

        </div>
    </div>
    <!-- end container -->
</footer>
<!-- Footer end -->

<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='js/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/node-waves/waves.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/owl.carousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>
</html>
